body {
  font-family: Arial, sans-serif;
  background-color: #FC8EC8;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  font-size: 28px;
  margin-bottom: 20px;
}

.player {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.pokemon-options {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.pokemon-card {
  background-color: #fff;
  border-radius: 5px;
  padding: 10px;
  margin: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.pokemon-card img {
  width: 100px;
  height: 100px;
}

#battle-container {
  display: none;
  text-align: center;
}

.panel {
  display: inline-block;
  margin: 0 20px;
}

.panel img {
  width: 200px;
  height: 200px;
}